packages:
  yum:
    mod24_ssl: []

container_commands:
  10_installcertbot:
    command: "sudo cp .ebextensions/90-letsencrypt-ssl-install.sh /opt/elasticbeanstalk/hooks/appdeploy/post/90-letsencrypt-ssl-install.sh && sudo chmod +x /opt/elasticbeanstalk/hooks/appdeploy/post/90-letsencrypt-ssl-install.sh"

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  "/tmp/cronjob":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      # renew ssl
      @monthly cd ~/certbot; sudo ./certbot-auto renew

    encoding: plain

  "/tmp/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On

      <VirtualHost *:443>
        Alias /static/ /opt/python/current/app/static/

        <Directory /opt/python/current/app/static/>
          Order allow,deny
          Allow from all
        </Directory>

        WSGIScriptAlias / /opt/python/current/app/application.py

        <Directory /opt/python/current/app/>
          Require all granted
        </Directory>

        WSGIProcessGroup wsgi

        SSLEngine             on
        SSLCertificateFile    /etc/letsencrypt/live/pirula-time.me/cert.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/pirula-time.me/privkey.pem
        SSLCertificateChainFile /etc/letsencrypt/live/pirula-time.me/fullchain.pem

        # HSTS (mod_headers is required) (15768000 seconds = 6 months)
        Header always set Strict-Transport-Security "max-age=15768000"

        SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
        SSLCipherSuite          ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
        SSLHonorCipherOrder     on
        SSLCompression          off
        SSLSessionTickets       off
      </VirtualHost>

      LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

    encoding: plain

    "/tmp/ssl_rewrite.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
          RewriteEngine On
          <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
          RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
          </If>

    encoding: plain
