<!DOCTYPE html>
<html lang="pt-BR">
<head>

  <meta charset="utf-8">
  <title>Quanto é o tempo Pirula?</title>
  <meta name="description" content="Calculando com precisão uma das unidades de medidas mais usadas na Internet">
  <meta name="author" content="Slpk">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">

  <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

  <h1>O tempo pirula...</h2>

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="two-thirds column">
          <h4>Um Pirula equivale {{ averageDurationMin }} minutos e {{ averageDurationSec }} segundos.</h4>
        </div>
        <div class="one-third column">
          <img src="../static/images/pirula.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="section time">
    <div class="container">
      <div class="row">
        <div class="two-thirds column">
          <h4>Seu Último video teve {{ latestPirulaDuration }} Pirulas de duração</h4>
          <h5>{{ latestDurationSubjective }}</h5>
        </div>
        <div class="one-third column">
          <img src="../static/images/pirula-magic.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section hate">
    <div class="container">
      <div class="row">
        <div class="two-thirds column">
          <h4>Mais {{ latestHate }} pessoas ODEIAM o Pirula por causa do seu último video</h4>
          <h5>{{ latestHateSubjective }}</p>
        </div>
        <div class="one-third column">
          <img src="../static/images/pirula-bad.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section question">
    <div class="container">
      <div class="row">
        <div class="two-thirds column">
          <h4>Como estão seus 6 videos mais recentes?</h4>
          <div class="row">
            {% for item in latestSixQuality %}
              <div class="two columns">
                  {% if item %} <img src="../static/images/pirula-yes.png"> {% endif %}
                  {% if not item %} <img src="../static/images/pirula-no.png"> {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="one-third column">
          <img src="../static/images/pirula-meero.png">
        </div>
      </div>
    </div>
  </div>
</body>
</html>