<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Quanto é o tempo Pirula?</title>
  <meta name="description" content="Calculando com precisão uma das unidades de medidas mais usadas na Internet">
  <meta name="author" content="Slpk">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../assets/css/normalize.css">
  <link rel="stylesheet" href="../assets/css/skeleton.css">
  <link rel="stylesheet" href="../assets/css/custom.css">

  <link rel="icon" type="image/png" href="../assets/images/favicon.png">

</head>
<body>

  <h1>O tempo pirula...</h2>

  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="two-thirds column">
          <h4 class="hero-heading">Um Pirula equivale {{ minutes }}22 minutos e {{ seconds }}15 segundos.</h4>
        </div>
        <div class="one-third column">
          <img src="../assets/images/pirula.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="section time">
    <div class="container">
      <div class="row">
        <div class="two-thirds column">
          <h4 class="value-multiplier">Seu Último video teve {{ lastestDurationPirula }}1,8 Pirulas de duração</h4>
          <h5 class="value-heading">{{ latestDurationSubjective }} Meero...</h5>
        </div>
        <div class="one-third column">
          <img src="../assets/images/pirula-magic.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section hate">
    <div class="container">
      <div class="row">
        <div class="two-thirds column">
          <h4 class="section-heading">Mais {{ latestHate }}1.205 pessoas ODEIAM o Pirula por causa do seu último video</h4>
          <p class="section-description">{{ latestHateSubjective }}</p>
        </div>
        <div class="one-third column">
          <img src="../assets/images/pirula-bad.png">
        </div>
      </div>
    </div>
  </div>

  <div class="section question">
    <div class="container">
      <div class="row">
        <div class="two-thirds column">
          <h4 class="section-heading">Como foram os seus os 5 videos mais recentes?{{ fiveLatestQuality }}</h4>
        </div>
        <div class="one-third column">
          <img src="../assets/images/pirula-meero.png">
        </div>
      </div>
    </div>
  </div>

</body>
</html>