.section {
  padding: 8rem 0 7rem;
  text-align: center;
  height: 400px;
}

/*
.time {
  background-image: url('../images/time-bg.jpg');
}

.question {
  background-image: url('../images/question-bg.jpg');
}

.hate {
  background-image: url('../images/hate-bg.jpg');
}

.hero {
  background-image: url('../images/youtube-bg.jpg');
}
*/