boto3==1.4.7
botocore==1.7.3
docutils==0.14
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
MarkupSafe==1.0
python-dateutil==2.6.1
PyYAML==3.12
s3transfer==0.1.11
six==1.10.0
Werkzeug==0.12.2
